data/cleaned_data/tracks_features_clean.csv
data/original_data/tracks_features.csv

data/0_raw/tracks_features.csv
data/1_cleaned/tracks_features_clean.csv

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar archivos de log
*.log

*.pyc
*.pyo

# Artefactos de compilación LaTeX
thesis/*.aux
thesis/*.bbl
thesis/*.bcf
thesis/*.blg
thesis/*.lof
thesis/*.log
thesis/*.lot
thesis/*.out
thesis/*.run.xml
thesis/*.synctex.gz
thesis/*.toc
thesis/*.fdb_latexmk
thesis/*.fls